text {
    color: black;
    font-size: 1.0em;
    font-style: initial;
}

.panel-default {
    border-color: #dddddd;
    margin-right: 50%;
    margin-top: 1%;
}

#panel-default-float {
    float: right;
}
.dividing-line {
    background-color: black;
    color: black;
    height: 1px;
    width: 100%; 
}
.birthday-body {
    color: aliceblue;
}