@model IEnumerable<HiQo.StaffManagement.Core.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Users";
}
<h2>Users</h2>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">More info</th>
        </tr>
        </thead>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    <p>@obj.UserId</p>
                </td>
                <td>
                    <p>@obj.FirstName</p>
                </td>
                <td>
                    <p>@obj.LastName</p>
                </td>
                <td>
                    @using (Html.BeginForm("Profile", "User", new {id = obj.UserId}, FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-primary">Press</button>
                    }
                </td>
            </tr>
        }
    </table>
    
    @*@using (Html.BeginForm("Create", "User", FormMethod.Get))
    {
        <button type="submit" class="btn btn-primary">Create</button>
    }*@

</div>