<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target xsi:type="Database"
            name="databaseError"
            connectionStringName="StaffManagementContext"
            commandText="INSERT INTO [dbo].[ExceptionLogs] ([LogId], [Time], [Url], [ExceptionClass], [Message]) VALUES (@LogId, @Time, @Url, @ExceptionClass, @Message);">
      <parameter name="@Time" layout="${event-properties:item=Time}" />
      <parameter name="@Url" layout="${event-properties:item=Url}" />
      <parameter name="@ExceptionClass" layout="${event-properties:item=ExceptionClass}" />
      <parameter name="@Message" layout="${event-properties:item=Message}" />
      <parameter name="@LogId" layout="${event-properties:item=LogId}" />
    </target>
    <target xsi:type="Database"
            name="databaseInfo"
            connectionStringName="StaffManagementContext"
            commandText="INSERT INTO [dbo].[ControllerInfoLogs] ([LogId], [Time], [Url], [Parameters]) VALUES (@LogId, @Time, @Url, @Parameters);">
      <parameter name="@Time" layout="${event-properties:item=Time}" />
      <parameter name="@Url" layout="${event-properties:item=Url}" />
      <parameter name="@Parameters" layout="${event-properties:item=Parameters}" />
      <parameter name="@LogId" layout="${event-properties:item=LogId}" />
    </target>
  </targets>

  <rules>
    <logger name="*" levels="Error,Warn,Fatal" writeTo="databaseError" />
    <logger name="*" levels="Info" writeTo="databaseInfo" />
  </rules>
</nlog>
